OPENAI_API_KEY=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
NEXT_PUBLIC_SUPABASE_URL=https://sssrzeefznkilbegrikn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzc3J6ZWVmem5raWxiZWdyaWtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzUzMDk0OTYsImV4cCI6MjA1MDg4NTQ5Nn0.M39y_im4CDk49fPAbnQZmU52JnldGR4KHxqO1z8m1g0